<%= form_for(@snippet) do |f| %>
  <% if @snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
      <% @snippet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :starttime %><br>
    <%= f.text_field :starttime %>
  </div>
  <div class="field">
    <%= f.label :endtime %><br>
    <%= f.text_field :endtime %>
  </div>
  <div class="field">
    <%= f.label :video_id %><br>
    <%= f.text_field :video_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
