<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"name e.g. the video id" %><br>
    <%= f.text_field :name %>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
    <%= f.label :view %><br>
    <%= f.text_field :view %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
