<!DOCTYPE html>
<html lang="en" ng-app="YouTuber">
<head>
  <title>diplomat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//normalize-css.googlecode.com/svn/trunk/normalize.css" media="all" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", media: "all"%>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">
<%= render 'shared/header' %>
<div class="container">
  <%= yield %>
</div>
<%= render 'shared/footer' %>



</body>
</html>
