<!DOCTYPE html>
<html lang="en" ng-app="YouTuber">
<head>
  <title>foriegn.io Youtube</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//normalize-css.googlecode.com/svn/trunk/normalize.css" media="all" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" media="all" />

  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", media: "all"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>
<div class="container">
  <%= yield %>
</div>



</body>
</html>
